@model AnalysisResults
@{
    ViewData["Title"] = "Results";
}

<h1>Analysis Results</h1>
<h2>Meta Tags</h2>
<table class="table table-striped" id="metaTable">
    <thead>
        <tr>
            <th id="wordHeaderMeta">Meta Word</th>
            <th id="countHeaderMeta">Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (KeyValuePair<string, int> entry in Model.MetaList)
        {
            <tr>
                <td>@entry.Key</td>
                <td>@entry.Value</td>
            </tr>
        }
    </tbody>
</table>
<h2>External Link Count</h2>
<p>Number of external links: @Model.LinkCount</p>

<h2>Submission Body</h2>

<table class="table table-striped" id="resultsTable">
    <thead>
        <tr>
            <th id="wordHeader">Word</th>
            <th id="countHeader">Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (KeyValuePair<string, int> entry in Model.WordList)
{
                <tr>
                    <td>@entry.Key</td>
                    <td>@entry.Value</td>
                </tr>
}
    </tbody>
</table>